@charset "utf-8";

/*    
   Nur Sefferyna Binti Sefie@Seffe
   Date: 01 Jun 2021
   Filename: styles.css
*/

body {
   font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   background-color: LemonChiffon;
}

h1 {
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   color: LightSalmon;
   font-size: 55px;
   text-align: center;
   text-decoration: underline overline wavy pink;
}

h2 {
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   color: DarkSalmon;
   text-align: left;
}

h3 {
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   color: RosyBrown;
   text-decoration: underline solid SaddleBrown;
   font-style: italic;
}

p{
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   color: gray;
   text-align: justify;
}

h2.title {
   text-align: center;
   font-size: 30px;
}

h2.skills {
   text-align: center;
   font-size: 50px;
}

img {
   width: 200px;
   display: block;
   margin: 0px auto;
   box-sizing: border-box;
   border-radius: 8px;
}

div{
   background-color: LemonChiffon;
   width:1240px;
   border: 5px solid Moccasin;
   padding: 50px;
   margin:20px;
}

section{
   background-color: LemonChiffon;
   width:1005px;
   border: 5px dotted Brown;
   padding: 50px;
   margin:20px
}

ul {
      font-style: italic;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      border: 1px solid white;
   }

li { float: left;}

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-right: 1px solid white;
   }

li a:link{
   background-color: black;
}

li a:visited{
   background-color: DimGray;
}

li a:hover{
   background-color: LightSalmon;
}

li a:active{
   background-color: LightPink;
}

table {width: 100%;}

th {
   background-color: Tan;
   color: white;
}

td {
   background-color: PapayaWhip;
   color: black;
   text-align: center;
}

#contactinfo{
   font-size: 20px;
   width: 95%
}

#personalinfo{
   font-size: 20px;
   width: 97.4%
}

legend{
   font-style: italic;
}

div{
   padding: 5px;
}

label {
   color: black;
   display: inline-block;
      width: 200px;
      padding-right: 50px;
      height: 25px;
      vertical-align: top 
}

textarea {
   padding: 5px;
   width: 70%;
   border-radius: 8px;
}

input{
   display: inline-block;
   width: 50%;
   height: 25px;
}

input [type="submit"]{
   border-radius: 5px;
   width: 200px;
   height: 40px;
   background-color: #2471A3;
   font-size: 18px;
}


